#Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
Screenshots
Diagrams
sample_database
.github
.gitignore
qodana.yaml
README.md
setup.py
sonar-project.properties
VereinsfliegerRestInterface.pdf