.u-section-1 .u-sheet-1 {
  min-height: 283px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-1 .u-form-1 {
  height: 403px;
  width: 570px;
  margin: 20px auto 21px;
}

.u-section-1 .u-input-1 {
  box-shadow: 0px 2px 18px 0px rgba(128,128,128,1);
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  box-shadow: 0px 2px 18px 0px rgba(128,128,128,1);
}