<!DOCTYPE html>
<html lang="DE">
<head>
    <title>Login Form</title>
</head>
<body>
    <form action="/home" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="2fa">2FA Key:</label><br>
        <input type="text" id="2fa" name="2fa" required><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>