api_url: "https://vereinsflieger.de/"
api_token: "your_api_token"
api_username: "your_username"
api_cid: "your_cid"
api_password: "your_password"
api_disable: "false" # set to true if you don't want to use the Vereinsflieger API
db_host: "your_db_host"
db_port: "your_db_port"
db_user: "your_db_user"
db_password: "your_db_password"
db_name: "your_db_name"
db_ssl_disabled: "false" # set to true if you don't want to use SSL
stay_cost: "5.00" # cost per night in EUR
meal_cost: "3.50" # cost per meal in EUR
admin_username: "admin" # username for the admin interface you can change that
admin_password: "CHANGEME" # change this!
mail_server: "smtp.gmail.com"
mail_port: "587"
mail_username: "your_mail_username"
mail_password: "your_mail_password"
mail_sender: "your_mail_sender"
mail_recipient: "your_mail_recipient" # add recipients separated by comma
mail_tls: "True"
application_port: "5000"